body{

    margin:0;
    padding:0;

    font-family:Arial, Helvetica, sans-serif;

    background:#1e1e2f;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;
}

#container{

    background:rgb(155, 253, 155);

    padding:30px;

    border-radius:15px;

    text-align:center;

    box-shadow:0px 0px 15px rgba(0,0,0,0.4);
}

h1{

    color:#333;
}

#forca{

    width:220px;

    margin-bottom:20px;
}

#palavra{

    margin:20px 0;

    font-size:40px;

    letter-spacing:10px;

    font-weight:bold;
}

#teclado{

    width:500px;

    margin:auto;
}

button{

    width:62px;
    height:62px;

    margin:4px;

    border:none;

    border-radius:8px;

    background:#4b00ff;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:0.2s;
}

button:hover{

    background:#3200aa;
}

#resultado{

    margin-top:20px;

    color:#111;
}